.contenedorImagenMontura {
    position: relative;
    width: 90%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    border: 3px solid rgba(228, 158, 34, 0.3);
    background: rgba(0, 0, 0, 0.3);
    padding: 40px;
}

.imagenMontura {
    width: 70%;
    height: 70%;
    object-fit: contain;
    transition: transform 0.8s ease;
}

.imagenMontura.victoria {
    border-color: #34d399;
    box-shadow: 0 0 20px rgba(52, 211, 153, 0.5);
}

.contenedorImagenMontura.victoria {
    border-color: #34d399;
    box-shadow: 0 0 20px rgba(52, 211, 153, 0.5);
}

.contenedorMonturasSeleccionadas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    grid-auto-rows: 100px;
    column-gap: 20px;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.monturaSeleccionada {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid;
    font-family: Inter;
}

.monturaSeleccionada img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 8px;
}

.monturaSeleccionada span {
    font-size: 1rem;
    font-weight: 600;
}

.monturaSeleccionada .iconoResultado {
    font-size: 1.5rem;
}